/* font-family: 'Anton', sans-serif; /* titles */
/* font-family: 'Roboto Mono', monospace; /* text */ 

/* rgba(132, 11, 42, 1); /* egglant */
/* rgba(210, 18, 67, 1); /* pink */
/* rgba(252, 176, 64, 1);  /* yellow */
/* rgba(239, 65, 54, 1); /* red */
/* rgba(245, 124, 116, 1); /* salmon */

/* text-shadow: 
		-4px -4px 0 rgba(0, 0, 0, 1),
		 4px -4px 0 rgba(0, 0, 0, 1),
		-4px  4px 0 rgba(0, 0, 0, 1),
		 4px  4px 0 rgba(0, 0, 0, 1); */

body {
	background-color: rgba(210, 18, 67, 1); /* pink */
	font-family: 'Anton', sans-serif; /* titles */
	font-size: 2em;
}

.bkg {
	background-image: url('../img/star.png');
	background-position: center;
	background-size: cover;
	width: 100vw;
	min-height: 100vh;
	height: auto;
	overflow: hidden;
}
.container-head {
	background-color: rgba(132, 11, 42, 1); /* egglant */
	padding: 1.5em;
	position: relative;
	top: 2em;
}
.row-head {
}
.col-title-pic {
	width: auto;
	padding-right: 2em;
}
.title-pic {
	width: 150px;
	height: auto;
}
.col-title {
	color: rgba(252, 176, 64, 1);  /* yellow */
	padding: calc((150px - 4.5em)/2) 0 0 0;
	margin: 0;
	width: calc(100% - 150px - 146px - 4em);
}
.col-title h1 {
	font-size: 4.5em;
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif; /* titles */
	line-height: 1;
	letter-spacing: 0.1em;
}
.reverse {
	transform: rotateY(180deg);
	/* direction: rtl; */
	/* unicode-bidi: bidi-override; */
}
.small-caps {
	font-variant: small-caps;
}
.caps {
}
.col-reset {
	margin: 0;
	padding: 0;
	width: auto;
}
.btn-reset {
	color: rgba(132, 11, 42, 1); /* egglant */
	background-color: rgba(210, 18, 67, 1); /* pink */
	text-decoration: bold;
	font-size: 2em;
	text-align: right;
	margin-top: calc((75px) / 2);
}
#name-submit, #name-input {
	font-size: 1.5em;
	padding: 0.25em;
	border: none;
	border-radius: 5px;
}
#name-input {
	margin-bottom: 1em;
}
#name-submit {
	background-color: rgba(252, 176, 64, 1);  /* yellow */
}
.col-start {
	padding-top: 3em;
	text-align: center;
}
.col-start h2 {
	font-family: 'Anton', sans-serif; /* titles */
	font-size: 3em;
	color: rgba(252, 176, 64, 1);  /* yellow */
}
.col-play-pic {
	text-align: center;
}
.container-play {
	padding-top: 3em;
}
.row-play-choice {
	
}
.row-play-battle {
	display: none;
}
.row-play-choice h3 {
	color: rgba(252, 176, 64, 1);  /* yellow */
	font-size: 2.5em;
	font-family: 'Anton', sans-serif; /* titles */
}
.col-my-play, .col-opponent-play {
	text-align: center;

}
